/* Basic Styles */
body {
    font-family: 'Montserrat', sans-serif; /* Modern and bold font */
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
    padding: 0;
    margin: 0;
    background-color: #F2EBD3;
}

header, footer {
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

section {
    width: 80%;
    margin: auto;
    padding: 1em;
}

section h2 {
    font-size: 2em;
    border-bottom: 2px solid #000;
    padding-bottom: .5em;
}

/* Text Hover Effect */
section a {
    color: rgba(0, 0, 0, 0.6); /* Initial text color */
    transition: color .2s ease-in-out; /* Animation */
}

section a:hover {
    color: rgba(0, 0, 0, 1); /* On hover, the text will become fully black */
}

/* Image Styles */
/* Image Styles */
#projects img {
    width: 100%;
    height: auto;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out; /* Animation */
    opacity: 0.6; /* Setting initial opacity to 60% */
}

/* Image Hover Effect */
#projects img:hover {
    transform: scale(1.1); /* Zooming the image 10% */
    opacity: 1; /* On hover, the image will become fully opaque */
}
.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-images a {
    flex: 1 0 30%;  /* Grow | Shrink | Base Width */
    margin: 1%;
    max-width: 68%;  /* Base width - double the margin */
}

.project-images img {
    width: 100%;
    height: auto;
    transition: all .2s ease-in-out;
    opacity: 0.6;
}

.project-images img:hover {
    transform: scale(1.1);
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .project-images a {
        max-width: 100%;
    }
}

/* Responsive Design with Media Queries */
@media screen and (min-width: 600px) {
    #projects img {
        width: 50%;
    }
}


/* Animation Effect */
.animate {
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
